body {
  background-image: url("./CowPonents/cowBackround.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  margin: 0px 0px 0px 0px;
}
div.MainBox {
  background-color: rgba(92, 196, 165, 0.281);
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(46, 85, 21, 0.904);
  width: 500px;
}
div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

h1 {
  color: rgba(93, 19, 19, 0.9);
  text-align: center;
  text-shadow: 0px 5px 10px rgb(123, 2, 2);
}

p {
  transform: scale(100%);
  text-align: center;
  font-weight: bold;
  color: rgb(8, 7, 7);
}
.submitButton {
  padding-top: ;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #15883e;
  box-shadow: 0px 0px 5px #15883e;
  height: 48px;
}

.submitButton:hover {
  background-color: #1db954;
  box-shadow: 0px 0px 5px #1db954;
}
